
#app
  width: 100%;
  height 100%;
  .g-wrap
  //home组件
    .home
      width: 100%;
      height 100%;
      .headerWraper
        .header
          width: 100%;
          height 148px;
          .header-title
            position relative
            width: 100%;
            height 88px;
            .logo
              width: 138px;
              height 40px;
              text-align: center
              position relative
              margin: 10px;
              img 
                position: absolute
                left: 0
                top: 0
                width: 80px;
                height 20px;
            .title-search-icon
              position: absolute
              left: 60px;
              top: 10px;
